@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');


/* body  */
body{
    max-width: 60%;
    margin: auto;
    background-color: #182747;
}
.body{  
    margin-top: 0;
    text-align: center;
    background-color: #06283D;
    color: #256D85;
}

/* heading  */
.heading{
    font-family: 'Abril Fatface', cursive;
    font-size: 3.5rem;
    margin-top: 0;
    padding-top: 1rem;
    margin-bottom: 1rem;
}

/* button  */
.btn{
    display: block;
    margin: auto;
}

/* table  */
table{
    margin: auto;
}